:root {
--primary-1: #fbfdff;
--primary-2: #f5faff;
--primary-3: #edf6ff;
--primary-4: #e1f0ff;
--primary-5: #cee7fe;
--primary-6: #b7d9f8;
--primary-7: #96c7f2;
--primary-8: #5eb0ef;
--primary-9: #0091ff;
--primary-10: #0081f1;
--primary-11: #006adc;
--primary-12: #00254d;
--neutral-1: #fbfcfd;
--neutral-2: #f8f9fa;
--neutral-3: #f1f3f5;
--neutral-4: #eceef0;
--neutral-5: #e6e8eb;
--neutral-6: #dfe3e6;
--neutral-7: #d7dbdf;
--neutral-8: #c1c8cd;
--neutral-9: #889096;
--neutral-10: #7e868c;
--neutral-11: #687076;
--neutral-12: #11181c;
--red-1: #fffcfc;
--red-2: #fff8f8;
--red-3: #ffefef;
--red-4: #ffe5e5;
--red-5: #fdd8d8;
--red-6: #f9c6c6;
--red-7: #f3aeaf;
--red-8: #eb9091;
--red-9: #e5484d;
--red-10: #dc3d43;
--red-11: #cd2b31;
--red-12: #381316;
--yellow-1: #fdfdf9;
--yellow-2: #fffce8;
--yellow-3: #fffbd1;
--yellow-4: #fff8bb;
--yellow-5: #fef2a4;
--yellow-6: #f9e68c;
--yellow-7: #efd36c;
--yellow-8: #ebbc00;
--yellow-9: #f5d90a;
--yellow-10: #f7ce00;
--yellow-11: #946800;
--yellow-12: #35290f;
--green-1: #fbfefc;
--green-2: #f2fcf5;
--green-3: #e9f9ee;
--green-4: #ddf3e4;
--green-5: #ccebd7;
--green-6: #b4dfc4;
--green-7: #92ceac;
--green-8: #5bb98c;
--green-9: #30a46c;
--green-10: #299764;
--green-11: #18794e;
--green-12: #153226;
}